.button {
  height: 56px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 0 16px;

  border: none;
  border-radius: 200px;

  cursor: pointer;

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.005em;

  transition:
    background-color 250ms ease,
    border-color 250ms ease;
}

.primary {
  background-color: var(--color-button);
  color: var(--color-bg);

  border: none;
}

.primary:hover {
  background-color: var(--color-button-hover);
}

.secondary {
  height: 56px;

  background-color: var(--color-bg);

  color: var(--color-main);

  border: 1px solid var(--color-border);
}

.secondary:hover,
.secondary:focus {
  border-color: var(--color-button-hover);
  background-color: var(--color-bg);
}

.button:hover,
.button:focus {
  background-color: var(--color-button-hover);
}

.hero {
  width: 173px;
}

.card {
  width: 145px;
}

.full {
  width: 312px;
}

.details {
  width: 526px;
}
