.catalog {
  display: grid;

  grid-template-columns: 360px 888px;

  justify-content: space-between;

  column-gap: 64px;
}

.sidebar {
  width: 360px;

  position: sticky;
  top: 96px;

  align-self: start;
}

.content {
  width: 888px;
  display: flex;
  flex-direction: column;
}
