.wrapper {
  width: 650px;
  height: 303px;

  display: flex;
  flex-direction: column;

  padding: 24px;
  border: 1px solid var(--color-background-card);
  border-radius: 20px;

  background: var(--color-background-card);

  overflow: hidden;
}

.title {
  margin: 0;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;

  color: var(--color-main);

  flex-shrink: 0;
}

.info {
  display: flex;
  align-items: center;
  gap: 16px;

  margin-top: 8px;

  flex-shrink: 0;
}

.price {
  margin: 16px 0 0;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;

  color: var(--color-main);

  flex-shrink: 0;
}

.description {
  margin-top: 24px;

  color: var(--color-text);
  line-height: 24px;

  flex: 1;

  overflow-y: auto;
  overflow-x: hidden;

  padding-right: 6px;
}
.description::-webkit-scrollbar {
  width: 6px;
}

.description::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 100px;
}

.description::-webkit-scrollbar-track {
  background: transparent;
}
