.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1000;
  height: 72px;
  border-bottom: 1px solid var(--color-feature);
  background: var(--color-bg);
}

.container {
  height: 100%;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
