.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 600px;
  padding: 80px 20px;

  text-align: center;
  border: 1px solid var(--color-background-card);
  border-radius: 20px;

  background: var(--color-background-card);
}

.image {
  width: 488px;
  height: auto;

  margin-bottom: 32px;
}

.wrapper h2 {
  margin-bottom: 12px;

  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;

  color: var(--color-main);
}

.wrapper p {
  max-width: 460px;

  font-size: 16px;
  line-height: 24px;

  color: var(--color-text);
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 43px;
  margin-bottom: 180px;
}

.title {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 600;
  color: var(--color-main);
}

.text {
  max-width: 460px;
  color: var(--color-text);
  line-height: 24px;
}

.icon {
  width: 12px;
  height: 12px;

  stroke: currentColor;
  fill: none;

  margin-right: 4px;

  flex-shrink: 0;
}
