.section {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.inputWrapper {
  position: relative;
}

.icon {
  position: absolute;

  left: 20px;
  top: 50%;

  transform: translateY(-50%);

  width: 20px;
  height: 20px;

  fill: var(--color-text);
}

.input {
  width: 87%;
  height: 56px;

  padding: 0 20px 0 48px;

  border: none;
  border-radius: 12px;

  background: var(--color-bg);

  font-size: 16px;

  color: var(--color-text);
}

.input::placeholder {
  color: var(--color-text);
}

.input:focus {
  outline: 1px solid var(--color-main);
}
.input:hover {
  color: var(--color-main);
}
.icon:hover {
  color: var(--color-main);
}

.icon:focus {
  color: var(--color-main);
}
