.wrapper {
  width: 1312px;

  margin: 48px auto 80px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  gap: 24px;
}

.right {
  width: 650px;

  display: flex;
  flex-direction: column;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-top: 64px;
}
