.navigation {
  justify-self: center;
}

.list {
  display: flex;
  gap: 32px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: var(--color-main);
  font-weight: 500;
  transition: color 0.2s;
}

.link:hover {
  color: var(--color-button);
}

.link,
.active {
  text-decoration: none;
  font-family: 'Inter', sans-serif;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  color: var(--color-main);

  transition: color 0.2s;
}

.active {
  color: var(--color-button);
}
