.section {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;

  gap: 12px;
}

.option {
  display: flex;
  align-items: center;

  gap: 12px;

  cursor: pointer;
}

.radio {
  appearance: none;
  -webkit-appearance: none;

  width: 20px;
  height: 20px;

  border: 2px solid var(--color-border);

  border-radius: 50%;

  display: grid;
  place-items: center;
  cursor: pointer;

  transition:
    border-color 250ms ease,
    background-color 250ms ease;
}

.radio::before {
  content: '';

  width: 10px;
  height: 10px;

  border-radius: 50%;

  background: var(--color-text);

  transform: scale(0);

  transition: 0.2s;
}

.radio:hover {
  border-color: var(--color-text);
}

.radio:focus-visible {
  outline: 2px solid var(--color-button-hover);
  outline-offset: 2px;
}

.radio:checked::before {
  transform: scale(1);
}

.radio:checked {
  border-color: var(--color-text);
}
