.button {
  background: none;
  border: none;

  font-size: 28px;

  cursor: pointer;

  color: #101828;

  transition: 0.3s;
}

.button:hover {
  transform: scale(1.1);
}

.active {
  color: var(--color-button-hover);
}
